/* Colors */
$dark: #000000;
$grey: #777d86;
$grey-light: #a4b5ce;
$color-primary: #303d75;
$color-secondary: #B18C00;
$light: #ffffff;

/* Font sizes */
$verybig-font-size: 2em;
$big-font-size: 1.5em;
$normal-font-size: 1em;
$medium-font-size: 1.2em;
$small-font-size: 0.8em;

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap");
$brand-font: "Raleway", sans-serif;
