/* Colors */
$dark: #000000;
$grey: #979797;
$grey-light: #bababa;
$color-primary: #1f5264;
$light: #ffffff;

/* Font sizes */
$verybig-font-size: 2em;
$big-font-size: 1.5em;
$normal-font-size: 1em;
$medium-font-size: 1.2em;
$small-font-size: 0.8em;

/* Fonts */
$brand-font: "Roboto", sans-serif;
