@import "variables";
@import "mixins";
@import "normalize";

/*==Import My Font==*/
@import "font";

/*==Import Partials==*/
@import "./partials/header";
@import "./partials/about";
@import "./partials/portfolio";
@import "./partials/cv";
@import "./partials/contact";
@import "./partials/footer";

/*===Import Components==*/
@import "./components/buttons";
@import "./components/masks";
/*===GLOBAL===*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $brand-font;
}

a {
  color: inherit;
  text-decoration: none;
}
