@import "variables";
@import "mixins";
@import "normalize";
@import "font";

/*==Import Partials==*/
@import "./partials/header";
@import "./partials/about";
@import "./partials/portfolio";

/*===GLOBAL===*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $brand-font;
}

a {
  color: inherit;
  text-decoration: none;
}
