<header class="header">
  <nav class="navigation navigation--hidden">
    <img class="navigation__logo" src="/images/pjc.gif" />
    <ul class="navigation__list">
      <li class="navigation__item"><a href="#">Start</a></li>
      <li class="navigation__item"><a href="#about">O mnie</a></li>
      <li class="navigation__item"><a href="#portfolio">Portfolio</a></li>
      <li class="navigation__item"><a href="#cv">CV</a></li>
      <li class="navigation__item"><a href="#contact">Kontakt</a></li>
    </ul>
  </nav>
  <div class="hero">
    <i class="i-pj hero__logo"></i>
    <h1 class="hero__header">
      Przemysław Jurkiewicz<br /><span class="hero__header hero__header--second"
        >junior web-developer</span
      >
    </h1>
    <i class="hero__icon i-double-down"><a href="#about"></a></i>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <polygon fill="white" points="0,100 100,0 100,100" />
  </svg>
</header>
