<header class="header">
  <nav class="navigation navigation--hidden">
    <img class="navigation__logo navigation__logo--hidden" src="/images/pjc.gif" />
    <ul class="navigation__list">
      <li class="navigation__item"><a href="#">Start</a></li>
      <a href="#"><i class="i-home-1 navigation__icon"></i></a>
      <li class="navigation__item"><a href="#about">O mnie</a></li>
      <a href="#about"><i class="i-user-1 navigation__icon"></i></a>
      <li class="navigation__item"><a href="#portfolio">Portfolio</a></li>
      <a href="#portfolio"><i class="i-folder navigation__icon"></i></a>
      <li class="navigation__item"><a href="#cv">CV</a></li>
      <a href="#cv"><i class="i-vcard navigation__icon"></i></a>
      <li class="navigation__item"><a href="#contact">Kontakt</a></li>
      <a href="#contact"><i class="i-mail navigation__icon"></i></a>
    </ul>
  </nav>
  <section class="hero">
    <i class="i-pj hero__logo wow fadeInUp"></i>
    <h1 class="hero__header wow fadeInUp">
      Przemysław Jurkiewicz<br /><span class="hero__header hero__header--second"
        >junior web-developer</span
      >
    </h1>
    <div class="hero__links-wrapper wow fadeInUp">
      <a
        class="button button--small"
        href="https://github.com/przemyslawjurkiewicz"
        target="_blank"
      >
        <i class="button__icon i-github"></i>GitHub</a
      >
      <a
        class="button button--small"
        href="https://linkedin.com/in/przemysław-jurkiewicz/"
        target="_blank"
      >
        <i class="button__icon i-linkedin"></i>LinkedIn</a
      >
    </div>
    <i class="hero__down i-double-down"><a href="#about"></a></i>
  </section>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <polygon points="0,100 100,0 100,100" />
  </svg>
</header>
