<section class="about wow fadeInUp">
  <h2 class="about__header">O mnie</h2>
  <div class="about__container">
    <p class="about__text col-sm-12 col-lg-8 wow fadeInUp">
      Ukończyłem studia inżynierskie o kierunku informatyka – sieci i programowanie.
      Od zawsze byłem związany z branżą informatyczną i chciałem się w niej rozwijać.<br>
      W celu usystematyzowania wiedzy ukończyłem bootcamp Kodilla <b>Web Developer</b>. Podczas kursu nauczyłem się <b>HTML5</b>,
      <b>SASS'</b>a z <b>CSS3</b> oraz w dobrym stopniu <b>JS</b>'a.<br>
      Nie są mi obce zagadanienia takie jak <b>RWD</b>. W swoich projektach miałem
      okazję korzystać z <b>NPM</b>'a. Znam również podstawy <b>NodeJS</b> oraz <b>Reacta</b>.<br>
      Wspólnie z grupą kursantów wykonaliśmy projekt z wykorzystaniem metody <b>Agile</b> w technice <b>Kanban</b> opartej na <b>Jirze</b>.
      Dla swojego obecnego pracodawcy wykonałem aplikację bazodanową opartą na <b>C#</b> i <b>SQL</b>.
      W ramach samodzielnej nauki wykonałem też kilka projektów stron internetowych
      oraz aplikacji głównie z wykorzystaniem biblioteki <b>React.js</b> w połączeniu z
      <b>Reduxem.</b><br>
      Biorę udział w szkoleniach i chętnie skorzystam z możliwości nauki.<br>
          Oprócz pracy przy komputerze lubię prowadzić aktywny styl życia. Moim największym sukcesem było przebiegnięcie
      maratonu w czasie 3:48 h. Interesują mnie nowe technologie i możliwości ich wykorzystania w życiu codziennym.
    </p>
  </div>
</section>