<section class="about wow fadeInUp" id="about">
  <h2 class="about__header">O mnie</h2>
  <div class="about__container">
    <p class="about__text col-sm-12 col-lg-8 wow fadeInUp">
      Ukończyłem studia inżynierskie o kierunku informatyka – sieci i programowanie.<br />
      Od zawsze byłem związany z branż informatyczną i chciałem się w niej rozwijać.<br> W
      celu usystematyzowania wiedzy ukończyłem bootcamp Kodilla Web Developer. Oprócz
      tego w ramach samodzielnej nauki wykonałem też kilka projektów stron internetowych
      oraz aplikacji głównie z wykorzystaniem biblioteki React.js w połączeniu z
      Reduxem. Wspólnie z grupą kursantów wykonaliśmy projekt z wykorzystaniem metody Agile
      w technice Kanban opartej na Jirze.<br />
      Dla swojego obecnego pracodawcy wykonałem aplikację bazodanową opartą na C# i SQL.<br>
      Biorę udział w szkoleniach i chętnie skorzystam z możliwości nauki.
    </p>
  </div>
</section>