<section class="about" id="about">
  <h2 class="about__header">O mnie</h2>
  <div class="about__container  wow fadeInUp">
    <!--<img class="about__image col-lg-4 col-sm-12 wow bounceIn" src="./images/ja.png" /> -->
    <p class="about__text col-lg-12 col-sm-12">
      Ukończyłem studia inżynierskie o kierunku informatyka – sieci i programowanie.<br />
      Od zawsze byłem związany z branż informatyczną i chciałem się w niej rozwijać. W
      celu usystematyzowania wiedzy ukończyłem bootcamp Kodilla Web Developer. Oprócz
      tego w ramach samodzielnej nauki wykonałem też kilka projektów stron internetowych
      oraz aplikacji głównie z wykorzystaniem biblioteki React.js w połączeniu z
      Reduxem. Wspólnie z grupą wykonaliśmy także projekt z wykorzystaniem metody Agile
      w technice Kanban opartej na Jirze.<br />
      Dla swojego obecnego pracodawcy wykonałem aplikację bazodanową opartą na C# i SQL.
      Zapewniam też wsparcie i szkolenie użytkowników systemów. Sam też biorę udział w
      szkoleniach i chętnie skorzystam z możliwości nauki.
    </p>
  </div>
</section>
