<section class="portfolio">
  <h2 class="portfolio__header">PORTFOLIO</h2>
  <div id="portfolio-wrapper" class="portfolio__wrapper col-sm-12 col-lg-12"></div>
</section>

<script id="portfolio-section-template" type="x-tmpl-mustache">
  <div class="section">
    <h3 class="section__header">{{title}}</h3>
    <p class="section__text">{{description}}</p>
    <div id={{ id }} class="section__carts-wrapper col-sm-12 col-lg-12 "></div>
  </div>
</script>

<script id="portfolio-cart-template" type="x-tmpl-mustache">
  <div class="cart col-lg-4 col-md-6 col-sm-12" style="background-image: url({{image}})">
    <div class="cart__body">
      <h3 class="cart__header">{{title}}</h3>
      <div class="cart__wrapper">{{#links}}<a class="cart__link" href="{{link}}"><i class="cart__icon i-{{icon}}"></i>{{icon}}</a>{{/links}}</div>
      <p class="cart__text">{{description}}</p>
      <div class="cart__wrapper"><p class="cart__text">Technologie: </p>{{#logo}} <img class="cart__logos" src="{{.}}" /> {{/logo}}</div>
    </div>
  </div>
</script>
