<section class="portfolio" id="portfolio">
  <svg class="triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,0 0,100" />
  </svg>
  <h2 class="portfolio__header">PORTFOLIO</h2>
  <div id="portfolio-menu" class="portfolio__menu"></div>
  <div id="portfolio-wrapper" class="portfolio__wrapper col-sm-12 col-md-12 col-lg-12"></div>
  <svg class="triangle triangle--bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,100 100,0 100,100" />
  </svg>
</section>

<!-- TEMPLATES -->
<script id="portfolio-menu-template" type="x-tmpl-mustache">
  <button  id={{ title }} class="button button--active portfolio__button">{{title}}</button>
</script>

<script id="portfolio-section-template" type="x-tmpl-mustache">
  <div id={{ title }} class="section">
    <hr class="section__horizontal-line">
    <h3 class="section__header">{{title}}</h3>
    <p class="section__text col-sm-12 col-lg-6">{{description}}</p>
    <div id={{ id }} class="section__carts-wrapper col-md-12 col-sm-12 col-lg-12 "></div>
  </div>
</script>

<script id="portfolio-cart-template" type="x-tmpl-mustache">
  <div class="cart col-lg-4 col-md-6 col-sm-12" style="background-image: url({{image}})">
    <div class="cart__body">
      <h3 class="cart__header">{{title}}</h3>
      <div class="cart__wrapper">{{#links}}<a class="button button--very-small" href="{{link}}" target="_blank"><i class="button__icon button__icon--small i-{{icon}}"></i>{{icon}}</a>{{/links}}</div>
      <p class="cart__text">{{description}}</p>
      <div class="cart__wrapper"><p class="cart__text">Technologie: </p>{{#logo}} <img class="cart__logos" src="{{.}}" /> {{/logo}}</div>
    </div>
  </div>
</script>

<script id="portfolio-gallery-template" type="x-tmpl-mustache">
  <div class="gallery col-sm-12 col-lg-12">
    {{#images}}
       <div class="gallery__slide">
          <img class="gallery__image" src={{image}}>
          <p class="gallery__text">{{description}}</p>
       </div>
    {{/images}}
    <div class="prev" >&#10094;</div>
    <div class="next" >&#10095;</div>
  </div>
</script>