<section class="cv wow fadeInUp" id="cv">
  <h2 class="cv__header">Curriculum vitae</h2>
  <div class="cv__wrapper col-sm-12 col-md-12 col-lg-12">
    <div class="cv__section col-sm-12 col-md-6 col-lg-6">
      <h3 class="cv__header cv__header--small">Wykształcenie:</h3>
      <ul class="cv__list">
        <li class="cv__element">
          STUDIA INŻYNIERSKIE KIERUNEK SIECI I PROGRAMOWANIE.<br />
          <span class="cv__element--second">Politechnika Koszalińska | 1999- 2003</span>
        </li>
        <li class="cv__element">
          KURS WEB DEVELOPER<br />
          <span class="cv__element--second">Kodilla | 2018- 2019</span>
        </li>
        <li class="cv__element">
          SZKOLENIE - ADMINISTROWANIE SYSTEMEM OPERACYJNYM LINUX DEBIAN DO POZIOMU
          ZAAWANSOWANEGO.<br />
          <span class="cv__element--second">Altkom | 2014</span>
        </li>
        <li class="cv__element">
          SZKOLENIE ADMINISTRACJA I ZARZĄDZANIE SIECIAMI CCNA CISCO.<br />
          <span class="cv__element--second">Altkom | 2014</span>
        </li>
      </ul>
    </div>
    <div class="cv__section col-sm-12 col-md-6 col-lg-6">
      <h3 class="cv__header cv__header--small">Doświadczenie:</h3>
      <ul class="cv__list">
        <li class="cv__element">
          ADMINISTRATOR NIEJAWNYCH SYSTEMÓW INFORMATYCZNYCH.<br />
          <span class="cv__element--second"
            >36 dywizjon rakietowy Obrony Powietrznej | 2006 - obecnie</span
          >
        </li>
        <li class="cv__element">
          ADMINISTRATOR SKLEPU INTERNETOWEGO.<br />
          <span class="cv__element--second">Top Wina Świata | 2004- 200</span>
        </li>
        <li class="cv__element">
          OBSŁUGA INFORMATYCZNA.<br />
          <span class="cv__element--second">Rasel | 1999 - 2002</span>
        </li>
      </ul>
    </div>
  </div>
  <a href="images/CV.pdf" class="button button--big" target="_blank">Pobierz CV</a>
</section>
