<section class="contact wow fadeInUp" id="contact">
    <svg class="triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,0 100,0 0,100" />
    </svg>
    <h2 class="contact__header">Kontakt:</h2>
    <div class="contact__wrapper col-sm-12 col-md-12 col-lg-4">
        <form class="contact__form col-sm-12">
            <label class="contact__label">Twoje Imię:</label>
            <input class="contact__input" type="text" placeholder="Imię" name="name" required>
            <label class="contact__label">Twój adres email:</label>
            <input class="contact__input" type="email" placeholder="Adres Email" name="email" required>
            <label class="contact__label">Wiadomość:</label>
            <textarea class="contact__input contact__input--textarea" rows="8" placeholder="Wiadomość" name="content"
                required></textarea>
            <div class="contact__toast"></div>
            <button type="submit" class="contact__submit button button--big">Wyślij</button>
        </form>
    </div>
</section>