/*===HEADER===*/

.header {
  background: inherit;
  color: #fff;
  margin: 0 auto;

  svg {
    position: absolute;
    bottom: 0vh;
    width: 100%;
    height: 10vw;
    z-index: 1;
  }
}

.navigation {
  padding: 5px;
  transition: opacity 2s linear;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-primary;
  box-shadow: #000000 0 1px 6px;
  @include flex-center;
  justify-content: space-evenly;

  &__logo {
    height: 40px;
    padding: 0 50px;
  }

  &--hidden {
    background: inherit;
    box-shadow: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__item {
    padding: 10px 20px;
    color: $light;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }

    &:visited,
    &:link {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      background-color: $light;
      color: $dark;
    }
  }

  &__icon {
    color: $light;
    cursor: pointer;
    display: none;
  }
}

.hero {
  height: 100vh;
  @include flex-center;
  flex-direction: column;
  background: linear-gradient(90deg, $grey 19px, transparent 1%) center,
    linear-gradient($grey 19px, transparent 1%) center;
  background-size: 20px 20px;
  font-size: $medium-font-size;

  &__down {
    font-size: 40px;
    position: absolute;
    bottom: 5px;
    animation: moveDown 500ms linear infinite;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }
  }

  &__links-wrapper {
    @include flex-center;
  }

  &__link {
    margin: 0 10px;
    @include flex-center;
    border-radius: 25px;
    padding: 0 10px;
    color: $color-primary;
    font-size: $normal-font-size;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid $color-primary;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    transition: 0.4s;
    background-image: linear-gradient(135deg, $color-primary 50%, transparent 50%);

    &:hover {
      background-position: 0 100%;
      color: $light;
    }
  }

  &__icon {
    padding: 0 20px;
    font-size: $big-font-size;
  }

  &__logo {
    padding: 0;
    margin: 0;
    font-size: 150px;
    background: linear-gradient(45deg, #000000, #ffffff, #000000);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
    animation: gradientBG 6s ease-out infinite;
    -webkit-animation: gradientBG 6s ease-out infinite;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 10px;
    color: $light;

    &--second {
      color: $color-primary;
      font-size: $small-font-size;

      &:before {
        content: " // ";
      }

      &:after {
        content: " // ";
      }
    }
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveDown {
  from {
    bottom: 13vh;
  }

  to {
    bottom: 10vh;
  }
}

@media (max-width: 992px) {
  .hero {
    font-size: $small-font-size;

    &__logo {
      font-size: 100px;
    }

    &__header {
      padding: 0;
    }

    &__down {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .navigation__item {
    display: none;
  }

  .navigation__list {
    flex: 1 1 auto;
  }

  .navigation__icon {
    display: block;
  }

  .navigation__logo {
    padding: 0 10px;
  }
}
