/*===HEADER===*/

.header {
  background: inherit;
  color: #fff;
  margin: 0 auto;
}

.navigation {
  padding: 5px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-primary;
  box-shadow: #000000 0 1px 6px;
  @include flex-center;
  justify-content: space-evenly;
  transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;

  &__logo {
    height: 40px;
    padding: 0 50px;

    &--hidden {
      opacity: 0;
      transition: opacity 0.5s ease-in;
      -webkit-transition: opacity 0.5s ease-in;
      -moz-transition: opacity 0.5s ease-in;
      -ms-transition: opacity 0.5s ease-in;
      -o-transition: opacity 0.5s ease-in;
    }
  }

  &--hidden {
    background-color: inherit;
    transition: background-color 0.5s ease-in;
    box-shadow: none;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -ms-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__item {
    @include flex-center;
    padding: 10px 20px;
    margin-left: 2px;
    min-width: 90px;
    color: $light;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;

    &--active {
      border-bottom: 3px solid $light;
      padding-top: 13px;
    }

    &:focus {
      outline: none;
    }

    &:visited,
    &:link {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      border-bottom: 3px solid $light;
      padding-top: 13px;
    }
  }

  &__icon {
    color: $light;
    cursor: pointer;
    display: none;
  }
}

.hero {
  height: calc(var(--vh, 1vh) * 100);
  @include flex-center;
  flex-direction: column;
  background: linear-gradient(90deg, $grey-light 19px, transparent 1%) center,
    linear-gradient($grey-light 19px, transparent 1%) center $color-primary;
  background-size: 20px 20px;
  font-size: $medium-font-size;

  &__down {
    font-size: 40px;
    position: absolute;
    bottom: 5px;
    animation: moveDown 500ms linear infinite;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }
  }

  &__links-wrapper {
    @include flex-center;
  }

  &__logo {
    padding: 0;
    margin: 0;
    font-size: 150px;
    fill: $light;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 10px;
    color: $light;

    &--second {
      color: $color-primary;
      font-size: $small-font-size;

      &:before {
        content: " // ";
      }

      &:after {
        content: " // ";
      }
    }
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveDown {
  from {
    bottom: 13vh;
  }

  to {
    bottom: 10vh;
  }
}

@media (max-width: 992px) {
  .hero {
    font-size: $small-font-size;

    &__logo {
      font-size: 100px;
    }

    &__header {
      padding: 0;
    }

    &__down {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .navigation {
    bottom: 0;
    top: auto;
    height: 5%;

    &__item {
      display: none;
    }

    &__list {
      flex: 1 1 auto;
    }

    &__icon {
      display: flex;
    }

    &__logo {
      display: none;
    }
  }
}
