.portfolio {
  background: linear-gradient(90deg, $grey-light 19px, transparent 1%) center,
    linear-gradient($grey-light 19px, transparent 1%) center $color-primary;
  background-size: 20px 20px;
  margin: 0;
  padding: 0;
  @include flex-center;
  flex-direction: column;
  flex-basis: 100%;

  &__header {
    font-size: $verybig-font-size;
    text-transform: uppercase;
    color: $color-primary;
  }

  &__menu {
    @include flex-center;
    flex-wrap: wrap;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.section {
  @include flex-center;
  flex-direction: column;

  overflow: hidden;
  height: 0;
  opacity: 0;

  // &:first-of-type {
  //   height: auto;
  //   opacity: 1;
  // }

  &--active {
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  &__header {
    color: $dark;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: $big-font-size;
  }

  &__text {
    color: $color-primary;
    position: relative;
    text-align: center;
    font-weight: 600;
  }

  &__carts-wrapper {
    @include flex-center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__horizontal-line {
    width: 50%;
    border: 0;
    margin: 2em 0;
    padding: 0;
    height: 1px;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        $light,
        rgba(0, 0, 0, 0));
  }
}

.cart {
  margin: 10px 5px 0;
  @include flex-center;
  align-items: flex-start;
  background: $grey-light;
  border: 2px double $light;
  box-shadow: 2px 2px 5px $dark;
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &:hover {
    .cart__body {
      display: flex;
    }
  }

  &__header {
    font-size: $big-font-size;
    text-transform: none;
    color: $dark;
    text-decoration: underline;
  }

  &__body {
    padding: 10px;
    display: none;
    width: 100%;
    animation: Increase;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    background: rgba(202, 219, 238, 0.9);
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__icon {
    padding-right: 20px;
    text-align: center;
    color: $color-primary;
    font-size: $normal-font-size;
  }

  &__text {
    text-align: center;
    color: $dark;
    font-size: $normal-font-size;
  }

  &__wrapper {
    padding: 0;
    margin: 0;
    @include flex-center;
    flex-direction: row;
  }

  &__logos {
    padding: 0 5px;
    height: 30px;
  }

  @keyframes Increase {
    from {
      //left: 100%;
      opacity: 0;
     }

    to {
     // left: 0;
      opacity: 1;
    }
  }
}

.gallery {
  @include flex-center;
  max-width: 1000px;
  position: relative;
  margin: auto;

  &__slide {
    display: none;
    max-width: 100%;
  }

  &__image {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    max-width: 100%;
  }

  &__text {
    position: absolute;
    bottom: 0;
    width: auto;
    color: $light;
    font-size: $normal-font-size;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
  }

  .prev {
    left: 0px;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }

    to {
      opacity: 1;
    }
  }
}
